# Laravel & general dependencies
/vendor/
/node_modules/

# Logs and debug files
*.log
npm-debug.log
yarn-error.log

# Environment files
.env
.env.backup
.env.production
/auth.json

# IDE/editor config folders
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
/.vagrant/

# System files
.DS_Store
Thumbs.db

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

.phpunit.result.cache
.phpactor.json
.phpunit.cache

# Homestead files
Homestead.yaml
Homestead.json

bootstrap/compiled.php
app/storage/

public_html/storage
public_html/hot
